<h1 align="center" id="heading">ITBA</h1>
<h1 align="center" id="heading">Diplomatura en Cloud Data Engineering</h1>

## **Trabajo Práctico Intermedio Foundations**.
## Alumno: Jose Zerda

In [2]:
# Importamos Librerias:
import sqlalchemy
import psycopg2
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [3]:
# nos conectamos con la db:
%sql postgresql://postgres:postgres@app-postgres-db:5432/ds_salaries

### Probamos la conexión:

In [7]:
%%sql
select * from ds_salaries limit 6;

 * postgresql://postgres:***@app-postgres-db:5432/ds_salaries
6 rows affected.

[(1, '2023', 'SE', 'FT', 'Principal Data Scientist', 80000, 'EUR', 85847, 'ES', 100, 'ES', 'L'),
 (2, '2023', 'MI', 'CT', 'ML Engineer', 30000, 'USD', 30000, 'US', 100, 'US', 'S'),
 (3, '2023', 'MI', 'CT', 'ML Engineer', 25500, 'USD', 25500, 'US', 100, 'US', 'S'),
 (4, '2023', 'SE', 'FT', 'Data Scientist', 175000, 'USD', 175000, 'CA', 100, 'CA', 'M'),
 (5, '2023', 'SE', 'FT', 'Data Scientist', 120000, 'USD', 120000, 'CA', 100, 'CA', 'M'),
 (6, '2023', 'SE', 'FT', 'Applied Scientist', 222200, 'USD', 222200, 'US', 0, 'US', 'L')]

* Vemos que la conexión a nuestra base de datos funciona.

# **Sección consultas:**

## Consulta 1:
* ¿Cuántos clientes habituales hay? y ¿Cuántos clientes nuevos hay?.

In [4]:
%%sql

select 
    (select count(client)
    from amir_deals
    where client = 'Current') as Current_Clients , 
    (select count(client)
    from amir_deals
    where client = 'New') as New_Clients
from amir_deals
group by Current_Clients , New_Clients;

 * postgresql://postgres:***@app-postgres-db:5432/amir_deals
1 rows affected.

[(2030, 462)]

### Respuesta 1:
* Se tiene muchos Clientes Habituales y pocos Clientes Nuevos.

## Consulta 2:
* ¿Cuáles son los productos más comercializados y que dejan mayores ganancias? y ¿Cuáles son los productos menos comercializados y que dejan menores ganancias?.

In [12]:
%%sql
select product as type_of_product , count(product) as times_traded, sum(amount) as amount_traded
from amir_deals
group by product
order by count(product)  DESC, sum(amount) DESC;

 * postgresql://postgres:***@app-postgres-db:5432/amir_deals
11 rows affected.

[('Product B', 868, Decimal('4201464.12')),
 ('Product D', 560, Decimal('2853171.44')),
 ('Product A', 322, Decimal('1683493.28')),
 ('Product C', 210, Decimal('711185.30')),
 ('Product F', 154, Decimal('766517.08')),
 ('Product H', 112, Decimal('496385.26')),
 ('Product I', 98, Decimal('383674.34')),
 ('Product E', 70, Decimal('342601.14')),
 ('Product N', 42, Decimal('261894.78')),
 ('Product G', 28, Decimal('186790.66')),
 ('Product J', 28, Decimal('104327.44'))]

### Respuesta 2:
* **Product B** es el más comercializado y el que más ganancia deja.
* **Product J** es el menos comercializado y el que menos ganancia deja.

## Consulta 3:
* ¿Qué producto tiene la mayor cantidad de clientes que lo adquieren? y ¿Qué producto tiene la menor cantidad de clientes que lo adquieren?.

In [15]:
%%sql
select product , sum(num_users) as number_of_customers_per_product
from amir_deals
group by product
order by sum(num_users) DESC;

 * postgresql://postgres:***@app-postgres-db:5432/amir_deals
11 rows affected.

[('Product B', 32158),
 ('Product D', 22848),
 ('Product A', 13622),
 ('Product C', 6552),
 ('Product F', 5964),
 ('Product H', 5208),
 ('Product I', 4368),
 ('Product E', 1050),
 ('Product G', 1050),
 ('Product N', 728),
 ('Product J', 280)]

### Respuesta3:
* **Product B** es el que tiene la mayor cantidad de clientes.
* **Product J** es el que tiene la menor cantidad de clientes.

## Consulta 4:
* ¿Con qué productos amid ganó dinero? y ¿con qué productos amid perdió dinero?.

In [19]:
%%sql
select product , status, sum(amount) as amount_won_or_lost
from amir_deals
group by product, status
order by product asc, status desc;

 * postgresql://postgres:***@app-postgres-db:5432/amir_deals
18 rows affected.

[('Product A', 'Won', Decimal('1289878.38')),
 ('Product A', 'Lost', Decimal('393614.90')),
 ('Product B', 'Won', Decimal('2972568.48')),
 ('Product B', 'Lost', Decimal('1228895.64')),
 ('Product C', 'Won', Decimal('473917.22')),
 ('Product C', 'Lost', Decimal('237268.08')),
 ('Product D', 'Won', Decimal('1404217.08')),
 ('Product D', 'Lost', Decimal('1448954.36')),
 ('Product E', 'Won', Decimal('133462.70')),
 ('Product E', 'Lost', Decimal('209138.44')),
 ('Product F', 'Won', Decimal('585300.38')),
 ('Product F', 'Lost', Decimal('181216.70')),
 ('Product G', 'Lost', Decimal('186790.66')),
 ('Product H', 'Won', Decimal('485359.28')),
 ('Product H', 'Lost', Decimal('11025.98')),
 ('Product I', 'Won', Decimal('383674.34')),
 ('Product J', 'Lost', Decimal('104327.44')),
 ('Product N', 'Won', Decimal('261894.78'))]

### Respuesta 4:
* Amid siempre perdió dinero cuando vendió el producto **G&J**.
* Pero siempre ganó dinero cuando vendio el producto **I&N**.
* Con los productos **D&E** Perdió más de lo que Ganó.
* Con el resto de los productos ganó más de lo que perdió.

## Consulta 5:
* ¿Qué productos fué comprado solo por clientes nuevos? y ¿Qué productos fué comprado solo por clientes habtuales?.

In [22]:
%%sql
select product , client, sum(amount) as amount_client_current_new
from amir_deals
group by product, client
order by product asc, client asc;

 * postgresql://postgres:***@app-postgres-db:5432/amir_deals
20 rows affected.

[('Product A', 'Current', Decimal('1576316.00')),
 ('Product A', 'New', Decimal('107177.28')),
 ('Product B', 'Current', Decimal('3415476.26')),
 ('Product B', 'New', Decimal('785987.86')),
 ('Product C', 'Current', Decimal('427731.64')),
 ('Product C', 'New', Decimal('283453.66')),
 ('Product D', 'Current', Decimal('2488821.30')),
 ('Product D', 'New', Decimal('364350.14')),
 ('Product E', 'Current', Decimal('290706.22')),
 ('Product E', 'New', Decimal('51894.92')),
 ('Product F', 'Current', Decimal('591585.12')),
 ('Product F', 'New', Decimal('174931.96')),
 ('Product G', 'Current', Decimal('126876.26')),
 ('Product G', 'New', Decimal('59914.40')),
 ('Product H', 'Current', Decimal('485359.28')),
 ('Product H', 'New', Decimal('11025.98')),
 ('Product I', 'Current', Decimal('283521.56')),
 ('Product I', 'New', Decimal('100152.78')),
 ('Product J', 'New', Decimal('104327.44')),
 ('Product N', 'Current', Decimal('261894.78'))]

### Respuesta 5:
* **Product J** fué comprado solo por clientes New.
* **Product N** fué comprado solo por clientes Current.
* El resto de los productos fué comprado por ambos clientes.